@charset "UTF-8";
/* Base */
/* Colores */
/* Fuente */
/* Bordes */
/* Shadows */
/* Extends */
footer, body {
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
}

section#seccion-sabores, section.ubicacion-mapa, section#servicios .flex-container-servicios .div-servicios, section#servicios, section#nosotros div.flex-container .galeria, section#nosotros div.flex-container, section#nosotros, section.frase-marca, header nav.primera-lista, header nav.segunda-lista, header {
  display: flex;
  align-items: center;
}

footer .div-footer img, header .logo img {
  width: 100px;
  height: 100px;
}

section .fondo-portada {
  margin-left: auto;
  margin-right: auto;
}

/* Mixins */
/* Maps */
/* Components */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #011010;
}

/* Headings - Aplica a todos los html */
h1 {
  color: #368f96;
  padding: 40px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
    padding: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 40px;
    padding: 30px;
  }
}

h2 {
  padding: 20px;
  font-size: 28px;
  text-align: left;
  color: #368f96;
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 20px;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  h2 {
    font-size: 24px;
    text-align: center;
  }
}

h4 {
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: 28px;
  font-weight: bold;
  color: #368f96;
}
@media only screen and (max-width: 767px) {
  h4 {
    font-size: 20px;
    padding-top: 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  h4 {
    font-size: 24px;
    padding-top: 60px;
  }
}

/* Header */
header {
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #011414;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  header {
    justify-content: space-around;
  }
}
header nav.primera-lista, header nav.segunda-lista {
  height: 100%;
  font-size: 18px;
  padding: 0 20px;
  box-sizing: border-box;
  width: 45%;
}
header nav.primera-lista .custom-toggler.navbar-toggler, header nav.segunda-lista .custom-toggler.navbar-toggler {
  border-color: #011414;
  color: transparent;
}
header nav.primera-lista .navbar-toggler-icon, header nav.segunda-lista .navbar-toggler-icon {
  background-image: url("../images/icono-menu.png");
  width: 40px;
  height: 40px;
}
header nav.primera-lista ul, header nav.segunda-lista ul {
  flex-wrap: wrap;
  list-style: none;
  background-color: #011414;
  border: none;
  font-size: 18px;
  padding: 0;
}
header nav.primera-lista ul li, header nav.segunda-lista ul li {
  display: inline-flex;
  padding: 10px 15px;
  background-color: #011414;
}
header nav.primera-lista ul li a, header nav.segunda-lista ul li a {
  text-decoration: none;
}
header nav.primera-lista ul li a:link, header nav.segunda-lista ul li a:link {
  color: #feebeb;
}
header nav.primera-lista ul li a:visited, header nav.segunda-lista ul li a:visited {
  color: #feebeb;
}
header nav.primera-lista ul li a:active, header nav.segunda-lista ul li a:active {
  color: #feebeb;
}
header nav.primera-lista ul li a:hover, header nav.segunda-lista ul li a:hover {
  color: #368f96;
}
header .logo {
  display: flex;
  background-color: #011414;
}
header nav.primera-lista {
  justify-content: flex-start;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  header nav.primera-lista li.borde-inferior {
    border-bottom: 1px solid #368f96;
  }
}
header nav.segunda-lista {
  justify-content: flex-end;
}
header nav.segunda-lista .carrito {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  header nav.segunda-lista .carrito {
    display: inline-flex;
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  header nav.segunda-lista li.no-show-list {
    display: none;
  }
}

/* Portada */
section .fondo-portada {
  width: 100%;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  section .fondo-portada {
    height: 100vh;
    object-fit: cover;
  }
}

/* Frase marca */
section.frase-marca {
  justify-content: center;
  padding: 80px;
  font-size: 30px;
  color: #feebeb;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  section.frase-marca {
    font-size: 20px;
    padding: 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  section.frase-marca {
    font-size: 24px;
    padding: 60px;
  }
}
section.frase-marca p {
  text-align: center;
}

/* Nosotros*/
section#nosotros {
  flex-direction: column;
  width: 100%;
}
section#nosotros div.flex-container {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  section#nosotros div.flex-container {
    flex-direction: column;
    padding: 0 60px;
  }
}
section#nosotros div.flex-container .texto-nosotros {
  width: 45%;
  height: 550px;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  section#nosotros div.flex-container .texto-nosotros {
    width: 75%;
    height: auto;
    text-align: center;
  }
}
section#nosotros div.flex-container .texto-nosotros p {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  font-size: 16px;
  color: #feebeb;
}
@media only screen and (max-width: 767px) {
  section#nosotros div.flex-container .texto-nosotros p {
    font-size: 14px;
    padding-bottom: 80px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  section#nosotros div.flex-container .texto-nosotros p {
    font-size: 16px;
    padding-bottom: 80px;
  }
}
section#nosotros div.flex-container .galeria {
  width: 45%;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  section#nosotros div.flex-container .galeria {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  section#nosotros div.flex-container .galeria {
    width: 75%;
    height: 400px;
    justify-content: center;
  }
}
section#nosotros div.flex-container .galeria .carousel-item img {
  object-fit: cover;
  height: 500px;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  section#nosotros div.flex-container .galeria .carousel-item img {
    height: auto;
  }
}
section#nosotros div.flex-container .galeria-mobile {
  width: 75%;
}
section#nosotros div.flex-container .galeria-mobile img {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
}

/* Servicios */
section#servicios {
  flex-direction: column;
  width: 100%;
  padding: 100px 0;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  section#servicios {
    padding: 60px 0;
  }
}
section#servicios .flex-container-servicios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  section#servicios .flex-container-servicios {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}
section#servicios .flex-container-servicios .div-servicios {
  width: 40%;
  margin: 10px 0;
  border: 0.5px solid #368f96;
  background-color: #ffffff;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  section#servicios .flex-container-servicios .div-servicios {
    width: 75%;
    box-sizing: border-box;
  }
}
section#servicios .flex-container-servicios .div-servicios img {
  width: 60px;
  height: 60px;
  padding: 10px;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  section#servicios .flex-container-servicios .div-servicios img {
    width: 50px;
    height: 50px;
  }
}
section#servicios .flex-container-servicios .div-servicios p.recuadro {
  font-size: 10px;
  color: #000000;
  padding: 10px 5px;
  margin: 0;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  section#servicios .flex-container-servicios .div-servicios p.recuadro {
    padding: 10px;
  }
}
section#servicios .flex-container-servicios .div-servicios p.recuadro a {
  text-decoration: none;
}
section#servicios .flex-container-servicios .div-servicios p.recuadro a:link {
  color: #368f96;
}
section#servicios .flex-container-servicios .div-servicios p.recuadro a:visited {
  color: #368f96;
}
section#servicios .flex-container-servicios .div-servicios p.recuadro a:active {
  color: #368f96;
}
section#servicios .flex-container-servicios .div-servicios p.recuadro a:hover {
  color: #368f96;
}

/* Ubicación */
section.ubicacion-mapa {
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  section.ubicacion-mapa {
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
  }
}
section.ubicacion-mapa p.ubicacion {
  padding-top: 80px;
  font-size: 18px;
  color: #feebeb;
}
@media only screen and (max-width: 767px) {
  section.ubicacion-mapa p.ubicacion {
    font-size: 14px;
    padding: 30px 0 20px 0;
  }
}
@media only screen and (max-width: 767px) and (min-width: 768px) and (max-width: 992px) {
  section.ubicacion-mapa p.ubicacion {
    font-size: 16px;
  }
}
section.ubicacion-mapa .no-show-div {
  display: none;
}
@media only screen and (max-width: 767px) {
  section.ubicacion-mapa .no-show-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    color: #feebeb;
    font-size: 14px;
    margin-bottom: 60px;
  }
  section.ubicacion-mapa .no-show-div img {
    width: 25px;
    height: 25px;
  }
}
section.ubicacion-mapa .mapa {
  margin-bottom: 80px;
}
@media only screen and (max-width: 767px) {
  section.ubicacion-mapa .mapa {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  section.ubicacion-mapa .mapa {
    width: 50%;
  }
  section.ubicacion-mapa .mapa iframe {
    width: 100%;
    height: auto;
    margin: 0px auto;
  }
}

/* Footer */
footer {
  padding-top: 20px;
  background-color: #011414;
  font-size: 14px;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  footer .div-footer {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-top: 10px;
  }
}
footer .div-footer a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
}
footer .div-footer a:link {
  color: #feebeb;
}
footer .div-footer a:visited {
  color: #feebeb;
}
footer .div-footer a:active {
  color: #feebeb;
}
footer .div-footer a:hover {
  color: #368f96;
}
footer .div-footer p {
  margin-top: 10px;
  color: #feebeb;
  word-wrap: break-word;
}
footer .socialmedia {
  display: flex;
  padding: 20px 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 767px) {
  footer .socialmedia {
    padding: 10px 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  footer .socialmedia {
    width: 50%;
    justify-content: center;
  }
}
footer .socialmedia a {
  text-decoration: none;
}
footer .socialmedia a img {
  vertical-align: top;
  width: 30px;
  height: 30px;
  margin: 5px;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  footer .socialmedia a img {
    margin: 10px;
  }
}
footer p.copyright {
  width: 100%;
  padding: 10px;
  font-size: 8px;
  text-align: center;
  color: #feebeb;
}

/* Sabores */
section#seccion-sabores {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 80px 0;
}
section#seccion-sabores h2.subtitulo-sabores {
  padding-bottom: 60px;
}
section#seccion-sabores .clasicos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  section#seccion-sabores .clasicos {
    flex-direction: column;
    align-items: center;
  }
}
section#seccion-sabores .clasicos .sabor {
  width: 35%;
  height: max-content;
  text-align: center;
  line-height: 2;
  margin: 0 20px;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  section#seccion-sabores .clasicos .sabor {
    width: 50%;
  }
}
section#seccion-sabores .clasicos .sabor h3 {
  font-size: 20px;
  color: #feebeb;
}
section#seccion-sabores .clasicos .sabor h3:hover {
  background-color: #feebeb;
  color: #011414;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  section#seccion-sabores .clasicos .sabor h3 {
    font-size: 18px;
  }
}
section#seccion-sabores .clasicos .sabor .lista-sabores {
  border-top: 1px solid #368f96;
  font-size: 16px;
  color: #feebeb;
  padding: 20px 0px;
  margin-bottom: 100px;
}
section#seccion-sabores .clasicos .sabor .lista-sabores:hover {
  box-shadow: 0px 0px 2px 1px #368f96;
}
@media only screen and (max-width: 767px) {
  section#seccion-sabores .clasicos .sabor .lista-sabores {
    font-size: 14px;
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  section#seccion-sabores .clasicos .sabor .lista-sabores {
    font-size: 16px;
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  section#seccion-sabores .ed-limitada {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
}
section#seccion-sabores .ed-limitada .sabor-dos {
  text-align: center;
  margin: 0 100px 60px 100px;
  /*Transición*/
  transition: all 2s;
  transition-timing-function: ease-out;
}
section#seccion-sabores .ed-limitada .sabor-dos:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  section#seccion-sabores .ed-limitada .sabor-dos {
    width: 60%;
    margin-bottom: 80px;
    align-self: center;
  }
}
section#seccion-sabores .ed-limitada .sabor-dos h3 {
  font-size: 20px;
  color: #feebeb;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
  section#seccion-sabores .ed-limitada .sabor-dos h3 {
    font-size: 18px;
  }
}
section#seccion-sabores .ed-limitada .sabor-dos img {
  width: 90%;
  height: auto;
  object-fit: cover;
  margin-top: 10px;
  border: none;
}
section#seccion-sabores .ed-limitada .sabor-dos img:hover {
  box-shadow: 0px 0px 2px 1px #368f96;
}
@media only screen and (max-width: 767px) {
  section#seccion-sabores .ed-limitada .sabor-dos img {
    width: 100%;
    height: auto;
    max-height: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  section#seccion-sabores .ed-limitada .sabor-dos img {
    width: 100%;
    height: auto;
    max-height: 500px;
  }
}

/*@media only screen and (min-width: 768px) and (max-width: 992px)*/

/*# sourceMappingURL=style.css.map */
