/* Base */
body {
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
}

section#nosotros div.flex-container .galeria, section#nosotros div.flex-container, section#nosotros, section.frase-marca, header {
  display: flex;
  align-items: center;
}

section .fondo-portada {
  margin-left: auto;
  margin-right: auto;
}

/* Components */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #011010;
}

h1 {
  color: #368f96;
  padding: 40px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
    padding: 30px;
  }
}

h2 {
  padding: 20px;
  font-size: 28px;
  text-align: left;
  color: #368f96;
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 20px;
    text-align: center;
  }
}

header {
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #011414;
}
@media only screen and (max-width: 767px) {
  header {
    justify-content: space-around;
  }
}
header nav.primera-lista, header nav.segunda-lista {
  height: 100%;
  font-size: 18px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 45%;
}
header nav.primera-lista .custom-toggler.navbar-toggler, header nav.segunda-lista .custom-toggler.navbar-toggler {
  border-color: #011414;
  color: transparent;
}
header nav.primera-lista .navbar-toggler-icon, header nav.segunda-lista .navbar-toggler-icon {
  background-image: url("../images/icono-menu.png");
  width: 40px;
  height: 40px;
}
header nav.primera-lista ul, header nav.segunda-lista ul {
  flex-wrap: wrap;
  list-style: none;
  background-color: #011414;
  border: none;
  font-size: 18px;
  padding: 0;
}
header nav.primera-lista ul li, header nav.segunda-lista ul li {
  display: inline-flex;
  padding: 10px 15px;
  background-color: #011414;
}
header nav.primera-lista ul li a, header nav.segunda-lista ul li a {
  text-decoration: none;
}
header nav.primera-lista ul li a:link, header nav.segunda-lista ul li a:link {
  color: #feebeb;
}
header nav.primera-lista ul li a:visited, header nav.segunda-lista ul li a:visited {
  color: #feebeb;
}
header nav.primera-lista ul li a:active, header nav.segunda-lista ul li a:active {
  color: #feebeb;
}
header nav.primera-lista ul li a:hover, header nav.segunda-lista ul li a:hover {
  color: #368f96;
}
header .logo {
  display: flex;
  background-color: #011414;
}
header .logo img {
  width: 100px;
  height: 100px;
}
header nav.primera-lista {
  justify-content: flex-start;
}
@media only screen and (max-width: 767px) {
  header nav.primera-lista li.borde-inferior {
    border-bottom: 1px solid #368f96;
  }
}
header nav.segunda-lista {
  justify-content: flex-end;
}
header nav.segunda-lista .carrito {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) {
  header nav.segunda-lista .carrito {
    display: inline-flex;
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 767px) {
  header nav.segunda-lista li.no-show-list {
    display: none;
  }
}

section .fondo-portada {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  section .fondo-portada {
    height: 100vh;
    object-fit: cover;
  }
}

section.frase-marca {
  justify-content: center;
  padding: 80px;
  font-size: 30px;
  color: #feebeb;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  section.frase-marca {
    font-size: 20px;
    padding: 60px;
  }
}
section.frase-marca p {
  text-align: center;
}

section#nosotros {
  flex-direction: column;
  width: 100%;
}
section#nosotros div.flex-container {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
@media only screen and (max-width: 767px) {
  section#nosotros div.flex-container {
    flex-direction: column;
    padding: 0 60px;
  }
}
section#nosotros div.flex-container .texto-nosotros {
  width: 45%;
  height: 550px;
}
@media only screen and (max-width: 767px) {
  section#nosotros div.flex-container .texto-nosotros {
    width: 75%;
    height: auto;
    text-align: center;
  }
}
section#nosotros div.flex-container .texto-nosotros p {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  font-size: 16px;
  color: #feebeb;
}
@media only screen and (max-width: 767px) {
  section#nosotros div.flex-container .texto-nosotros p {
    font-size: 14px;
    padding-bottom: 80px;
  }
}
section#nosotros div.flex-container .galeria {
  width: 45%;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  section#nosotros div.flex-container .galeria {
    display: none;
  }
}
section#nosotros div.flex-container .galeria .carousel-item img {
  object-fit: cover;
  height: 500px;
}
section#nosotros div.flex-container .galeria-mobile {
  width: 75%;
}
section#nosotros div.flex-container .galeria-mobile img {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
