* {
    margin: 0;
    padding: 0;
}

body {
    @extend %general;
    font-family: 'Poppins', sans-serif;
    background-color: $color-bg-dark;
}

/* Headings - Aplica a todos los html */
h1 {
    font-size: map-get($size-h1, size-dsktp-h1);
    padding: 40px;
    font-weight: bold;
    text-align: center;
    color: $color-title;
    @media only screen and (max-width: 767px) {
        font-size: map-get($size-h1, size-mobile-h1);
        padding: 30px;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        font-size: map-get($size-h1, size-tablet-h1);
        padding: 30px;
    }
}

h2 {
    font-size: map-get($size-h2, size-dsktp-h2);
    padding: 20px;
    font-weight: bold;
    text-align: left;
    color: $color-title;
    @media only screen and (max-width: 767px) {
        font-size: map-get($size-h2, size-mobile-h2);
        text-align: center;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        font-size: map-get($size-h2, size-tablet-h2);
        text-align: center;
    }
}

h3 {
    font-size: map-get($size-h3, size-dsktp-h3);
    color: $color-title;
    @media only screen and (max-width: 767px){
        font-size: map-get($size-h3, size-mobile-h3);
    }
    @media only screen and (min-width: 768px) and (max-width: 991px)  {
        font-size: map-get($size-h3, size-tablet-h3);
    }
}