/* Nosotros*/
section#nosotros {
    @extend %vista-dsktp;
    flex-direction: column;
    width: 100%;
    div.flex-container {
        @extend %vista-dsktp;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        @media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
            flex-direction: column;
            padding: 0 60px;
        }
        .texto-nosotros {
            width: 45%;
            height: 550px;
            @media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 992px) {
                width: 75%;
                height: auto;
                text-align: center;
            }
            p {
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 100px;
                font-size: $size-font-dsktp-text;
                color: $color-text;
                @media only screen and (max-width: 767px) {
                    font-size: $size-font-mobile-text;
                    padding-bottom: 80px;
                }
                @media only screen and (min-width: 768px) and (max-width: 992px) {
                    font-size: $size-font-tablet-text;
                    padding-bottom: 80px;
                }
            }
        }
        .galeria {
            @extend %vista-dsktp;
            width: 45%;
            overflow: hidden;
            box-sizing: border-box;
            justify-content: center;
            @media only screen and (max-width: 767px) {
                display: none;
            }
            @media only screen and (min-width: 768px) and (max-width: 992px) {
                width: 75%;
                height: 400px;
                justify-content: center;
            }
            .carousel-item img {
                object-fit: cover;
                height: 500px;
                @media only screen and (min-width: 768px) and (max-width: 992px) {
                    height: auto;
                }
            }    
        }
        .galeria-mobile {
            width: 75%;
            img {
                @include img-sizes(100%, auto);
                max-height: 350px;
                object-fit: cover;
            }
        }
    }
}