/* Novedades-Promos */
section#novedades-promos {
    @extend %vista-dsktp;
    width: 80%;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
    padding: 80px 0;
    overflow: hidden;
    .promos {
        height: 300px;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        border: none;
        margin-bottom: 80px;
        padding: 10px;
        color: $color-text;
        font-size: $size-font-dsktp-text;
        @media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
            height: max-content;
            box-sizing: border-box;
            border-top: $border-general;
            border-bottom: $border-general;
            font-size: $size-font-mobile-text;
        }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            flex-direction: row;
            font-size: $size-font-tablet-text;
        }
        &:hover {
            box-shadow: $shadow;
            background-color: $color-bg-hover;
            color: $color-text-hover;
            h2 {
                color: $color-text-hover;
            }
            a:hover, a:link, a:visited, a:active {
                color: $color-text-hover;
            }
            img {
                border-radius: $border-img-hover;
            }
        }
        h2 {
            text-align: left;
            color: $color-text;
            @media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
                text-align: center;
                padding: 10px;
            }
        }
        p {
            padding: 20px;
            @media only screen and (max-width: 767px) {
                padding: 20px 10px;
                text-align: center;
                word-wrap: break-word;
            }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                padding: 20px 10px;
                text-align: center;
                word-wrap: break-word;
            }
        }
        a {
            padding: 20px;
            text-decoration: none;
            font-weight: bold;
            &:link {
                color: $color-text;
            }
            &:visited {
                color: $color-text;
            }
            &:hover {
                color: $color-text;
            }
            &:active {
                color: $color-text;
            }
            @media only screen and (max-width: 767px) {
                padding: 20px 10px;
                text-align: center;
                word-wrap: break-word;
            }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                padding: 20px 10px;
                text-align: center;
                word-wrap: break-word;
            }
        }
        img {
            height: auto;
            object-fit: cover;
            @media only screen and (max-width: 767px) {
                height: auto;
                max-height: 210px;
                padding: 10px 0;
            }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                height: auto;
                max-height: 320px;
                padding: 10px 0;
            }
        }
        @media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
            .custom-link {
                text-align: center;
                padding: 10px 0;
            }
        }
    }
}