/* Extends */
%general {
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}

%vista-dsktp {
    display: flex;
    align-items: center;
}

%size-logo {
    width: 100px;
    height: 100px;
}

%center-img {
    margin-left: auto;
    margin-right: auto;
}

%img-portada {
    height: 70vh;
    width: 100%;
    object-fit: cover;
}
