/* Maps */
$size-h1: (
    size-dsktp-h1: 48px,
    size-tablet-h1: 40px,
    size-mobile-h1: 36px
);

$size-h2: (
    size-dsktp-h2: 28px,
    size-tablet-h2: 24px,
    size-mobile-h2: 20px
);

$size-h3: (
    size-dsktp-h3: 24px,
    size-tablet-h3: 20px,
    size-mobile-h3: 18px
);