/* Colores */
$color-bg-light: #011414;
$color-bg-dark: #011010;
$color-text: #feebeb;
$color-hover: #368f96;
$color-title: #368f96;
$color-bg-hover: #cfedf2;
$color-text-hover: #011414;
$color-bg-otros: #ffffff;
$color-recuadro-otros: #000000;

/* Tamaños de Fuente */
$size-font-dsktp-otros: 18px;
$size-font-dsktp-text: 16px;
$size-font-tablet-text: 16px;
$size-font-mobile-text: 14px;
$size-font-form-dsktp: 14px;
$size-font-form: 12px;
$size-font-servicios: 10px;
$size-font-footer: 14px;
$size-font-copyright: 8px;

/* Bordes */
$border-servicios: 0.5px solid #368f96;
$border-general: 1px solid #368f96;
$border-form: 3px solid #368f96;
$border-img: 10px 30px 10px 30px;
$border-boxtext: 10px;

/* Shadows */
$shadow: 0px 0px 2px 1px #368f96;